<% include header %>
	<div class="row books_list ">
		<h3 class="cath3">搜索：<%= wd %>，共 <%= json.length %> 本</h3>
		<% for(var i = 0; i < json.length; i++) {%>
	    <div class="col-md-6 book_wrap">
	      <% if(json[i].average > 0){ %>
	        <div class="col-md-2 pull-right average-box" title="豆瓣评分：<%= json[i].average %>分"><span class="average-count text-danger pull-right"><%= json[i].average %></span><img class="pull-right douban-icon" src="http://img3.douban.com/pics/douban-icons/favicon_16x16.png" alt=""></div>
	      <% }%>
	      <div class="col-md-4">
	        <div class="bookCover">
	          <a href="/detail/<%= json[i].bid %>" title="<%= json[i].name %>"><img src="<%= json[i].image %>" width="150" alt="<%= json[i].name %>" class="coverPic"></a>
	        </div>
	      </div>
	      <div class="col-md-6 inctro">
	        <h3 class="book-name"><a href="/detail/<%= json[i].bid %>" title="<%= json[i].name %>"><%= json[i].name %></a></h3>
	        <p><strong>作者：</strong> <%= json[i].author %></p>
	        <p><strong>出版日期：</strong> <%= json[i].press_time %></p>
	        <p><strong>页数：</strong> <%= json[i].page %> </p>
	        <p><strong>ISBN：</strong> <%= json[i].isbn %> </p>
	        <p><strong>分类：</strong> <a href="/category/<%= json[i].category[0].name %>"><%= json[i].category[0].name %></a></p>
	      </div>
	    </div>
		<% } %>
	</div>
<% include footer %>